


.footnoteRight {
  position: absolute;
  bottom: 40px;
  right: 20px;
  font-size: 0.9em;
  text-align: right;
}

.footnoteLeft {
  position: absolute;
  bottom: 40px;
  left: 20px;
  font-size: 0.9em;
  text-align: left;
}



.center2 {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


