


.footnoteRight {
  position: absolute;
  bottom: 40px;
  right: 25px;
  font-size: 0.9em;
  text-align: right;
}

.blackFootnoteRight {
  position: absolute;
  bottom: 40px;
  right: 20px;
  font-size: 0.9em;
  text-align: right;
  color: #D3D3D3;
}


.footnoteLeft {
  position: absolute;
  bottom: 40px;
  left: 25px;
  font-size: 0.9em;
  text-align: left;
}



.center2 {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.hide-bg{
  mix-blend-mode: multiply;
  filter: contrast(1);
}

.my-bold {
  font-weight: bold;
  color: #FFA500;
}
