

.footnoteright{
  position: absolute;
  bottom: 32px;
  right: 32px;
  font-size: 18px;
  text-align: right;
}

.center2 {
  margin: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
